USE [master]
GO
/****** Object:  Database [UOKHallBookingDB]    Script Date: 3/17/2024 5:09:32 PM ******/
CREATE DATABASE [UOKHallBookingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UOKHallBookingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UOKHallBookingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UOKHallBookingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UOKHallBookingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UOKHallBookingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UOKHallBookingDB]
GO
/****** Object:  Table [dbo].[AcademicYear]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicYear](
	[academic_Year_Id] [int] NOT NULL,
	[academic_Year_Name] [varchar](50) NULL,
	[year_Start] [date] NULL,
	[year_End] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[academic_Year_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Building]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Building](
	[building_No] [int] NOT NULL,
	[building_Name] [varchar](255) NOT NULL,
	[no_Of_Floors] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[building_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[course_Id] [int] NOT NULL,
	[course_Name] [varchar](255) NOT NULL,
	[course_Code] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[course_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[course_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course_Programs]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course_Programs](
	[course_Id] [int] NOT NULL,
	[program_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[course_Id] ASC,
	[program_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseTimeCalendar]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseTimeCalendar](
	[course_Id] [int] NOT NULL,
	[booking_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[course_Id] ASC,
	[booking_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facility]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facility](
	[facility_Id] [int] NOT NULL,
	[facility_Name] [varchar](255) NOT NULL,
	[facility_Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[facility_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Halls]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Halls](
	[hall_Id] [int] NOT NULL,
	[hall_Name] [varchar](255) NOT NULL,
	[hall_Type] [varchar](50) NULL,
	[floor_Level] [int] NULL,
	[building_No] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[hall_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programs]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programs](
	[program_Id] [int] NOT NULL,
	[program_Name] [varchar](255) NOT NULL,
	[program_Code] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[program_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[program_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provide]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provide](
	[facility_Id] [int] NOT NULL,
	[hall_Id] [int] NOT NULL,
	[no_Of_Facilities] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[facility_Id] ASC,
	[hall_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[semester_Id] [int] NOT NULL,
	[academic_Year_Id] [int] NULL,
	[semester_Name] [varchar](50) NULL,
	[semester_Start] [date] NULL,
	[semester_End] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[semester_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeCalendar]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeCalendar](
	[booking_Id] [int] NOT NULL,
	[booking_Date] [date] NOT NULL,
	[person_Name] [varchar](60) NULL,
	[contact_Number] [varchar](10) NULL,
	[purpose] [varchar](100) NULL,
	[start_Time] [time](7) NULL,
	[end_Time] [time](7) NULL,
	[booking_Status_Flag] [varchar](1) NULL,
	[academic_Year_Id] [int] NULL,
	[recurrencePattern] [varchar](50) NULL,
	[recurrenceStartDate] [date] NULL,
	[recurrenceEndDate] [date] NULL,
	[recurrenceFrequency] [int] NULL,
	[user_Id] [int] NULL,
	[hall_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLog]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLog](
	[log_Id] [int] NOT NULL,
	[user_Id] [int] NULL,
	[login_Time] [datetime] NULL,
	[logout_Time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[role_Id] [int] NOT NULL,
	[role_Name] [varchar](50) NULL,
	[access_Level] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[role_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_Id] [int] NOT NULL,
	[user_Name] [varchar](100) NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[authorised_By] [varchar](100) NULL,
	[university_Email] [varchar](255) NULL,
	[contact_Number] [varchar](20) NULL,
	[academic_Year] [int] NULL,
	[created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserUserRole]    Script Date: 3/17/2024 5:09:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserUserRole](
	[user_Id] [int] NOT NULL,
	[role_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_Id] ASC,
	[role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TimeCalendar] ADD  DEFAULT ('N') FOR [booking_Status_Flag]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_At]
GO
ALTER TABLE [dbo].[Course_Programs]  WITH CHECK ADD FOREIGN KEY([course_Id])
REFERENCES [dbo].[Course] ([course_Id])
GO
ALTER TABLE [dbo].[Course_Programs]  WITH CHECK ADD FOREIGN KEY([program_Id])
REFERENCES [dbo].[Programs] ([program_Id])
GO
ALTER TABLE [dbo].[CourseTimeCalendar]  WITH CHECK ADD FOREIGN KEY([booking_Id])
REFERENCES [dbo].[TimeCalendar] ([booking_Id])
GO
ALTER TABLE [dbo].[CourseTimeCalendar]  WITH CHECK ADD FOREIGN KEY([course_Id])
REFERENCES [dbo].[Course] ([course_Id])
GO
ALTER TABLE [dbo].[Halls]  WITH CHECK ADD FOREIGN KEY([building_No])
REFERENCES [dbo].[Building] ([building_No])
GO
ALTER TABLE [dbo].[Provide]  WITH CHECK ADD FOREIGN KEY([facility_Id])
REFERENCES [dbo].[Facility] ([facility_Id])
GO
ALTER TABLE [dbo].[Provide]  WITH CHECK ADD FOREIGN KEY([hall_Id])
REFERENCES [dbo].[Halls] ([hall_Id])
GO
ALTER TABLE [dbo].[Semester]  WITH CHECK ADD FOREIGN KEY([academic_Year_Id])
REFERENCES [dbo].[AcademicYear] ([academic_Year_Id])
GO
ALTER TABLE [dbo].[TimeCalendar]  WITH CHECK ADD  CONSTRAINT [FK_AcademicYear_academic_Year_Id] FOREIGN KEY([academic_Year_Id])
REFERENCES [dbo].[AcademicYear] ([academic_Year_Id])
GO
ALTER TABLE [dbo].[TimeCalendar] CHECK CONSTRAINT [FK_AcademicYear_academic_Year_Id]
GO
ALTER TABLE [dbo].[TimeCalendar]  WITH CHECK ADD  CONSTRAINT [FK_Halls_HallId] FOREIGN KEY([hall_Id])
REFERENCES [dbo].[Halls] ([hall_Id])
GO
ALTER TABLE [dbo].[TimeCalendar] CHECK CONSTRAINT [FK_Halls_HallId]
GO
ALTER TABLE [dbo].[TimeCalendar]  WITH CHECK ADD  CONSTRAINT [FK_Users_user_Id] FOREIGN KEY([user_Id])
REFERENCES [dbo].[Users] ([user_Id])
GO
ALTER TABLE [dbo].[TimeCalendar] CHECK CONSTRAINT [FK_Users_user_Id]
GO
ALTER TABLE [dbo].[UserLog]  WITH CHECK ADD FOREIGN KEY([user_Id])
REFERENCES [dbo].[Users] ([user_Id])
GO
ALTER TABLE [dbo].[UserUserRole]  WITH CHECK ADD FOREIGN KEY([role_Id])
REFERENCES [dbo].[UserRoles] ([role_Id])
GO
ALTER TABLE [dbo].[UserUserRole]  WITH CHECK ADD FOREIGN KEY([user_Id])
REFERENCES [dbo].[Users] ([user_Id])
GO
USE [master]
GO
